.cv-container {
	width: 960px;
	margin-bottom: 40px;
}

main {
	.title-container {
		margin-bottom: 20px;
		padding-bottom: 40px;
		border-bottom: 1px solid color('grey', 'lighten-2');
	}
	.section-title {
		margin-bottom: 2rem;
	}
}

.avatar {
	width: 120px;
	height: 120px;
	margin-top: -80px;

	img {
		width: 120px;
		height: 120px;
	}
}

.inner-container {
	margin: 0 36px;
}

// Expériences
.timeline {
	margin: 30px 0;

	&::before {
		left: 50%;
	}
	.date {
		margin: 0;
		position: absolute;
		top: 12px;
		left: unset;
		right: -170px;
	}
	.timeline-block {
		margin: 30px 0;
		position: relative;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(even) {
			.timeline-content {

				&::before {

				}
				&::after {

				}
			}
		}
		.timeline-point {
			margin: 0 0 0 -13px;
			left: 50%;
		}
		.timeline-content {
			position: relative;
			width: 46%;
			margin: 0;
			padding: 0;
		}
	}
}